.frame-child {
  height: 75px;
  width: 1512px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  max-width: 100%;

}
.banner-icon {
  height: 73px;
  width: 78px;
  position: fixed;
  object-fit: contain;
  z-index: 1;
}
.panimalar-engineering-college {
  margin: 0;
  position: fixed;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.college-name {
  width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.login-form-child {
  height: 46px;
  width: 170px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  display: none;
}
.contact-us {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-6xl);
  text-transform: capitalize;
  font-family: var(--font-kotta-one);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 118px;
  z-index: 2;
}
.login-form,
.login-form-item {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  cursor: pointer;
  z-index: 1;
}
.login-form {
  border: 0;
  padding: var(--padding-5xs) 26px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.login-form:hover {
  background-color: rgba(230, 230, 230, 0.31);
}
.login-form-item {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #ee9b00, #fb0800);
  width: 100%;
  height: 100%;
}
.login1 {
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 14px;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 73px;
  z-index: 2;
}
.login1 a{
  color: white;
  
}
.login-form1 {
  height: 46px;
  width: 101px;
  position: relative;
}
.login,
.login-wrapper,
.rectangle-parent {
  display: flex;
  
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  flex-direction: row;
  gap: 29px;
  position: fixed;
}
.login-wrapper,
.rectangle-parent {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  
  }
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-steelblue);
  flex-direction: row;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: 11px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-kotta-one);
}
.frame-item {
  width: 1036px;
  height: 568px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.academics-icon {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.academics {
  position: absolute;
  top: 10px;
  left: 58px;
  text-transform: uppercase;
  display: inline-block;
  width: 156px;
  height: 42px;
  z-index: 2;
  /* text-decoration: none; */
}
.academics-header {
  height: 58px;
  width: 262px;
  position: relative;
}
.academics-header-child {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.attendance {
  position: absolute;
  top: 10px;
  left: 36px;
  text-transform: uppercase;
  display: inline-block;
  width: 209px;
  height: 42px;
  z-index: 2;
  /* text-decoration: none;
  color: white; */
  }

/* .attendance:hover{
   background-color: aqua;
   color: white;    
  } */

.academics-header1 {
  height: 58px;
  width: 262px;
  position: relative;
}
.academics-header-parent,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.academics-header-parent {
  width: 634px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  width: 914px;
  justify-content: center;
}
.assignment-icon {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.assignment {
  position: absolute;
  top: 10px;
  left: 37px;
  text-transform: uppercase;
  display: inline-block;
  width: 189px;
  height: 42px;
  z-index: 2;
}
.assignment-icon-parent {
  width: 262px;
  height: 58px;
  position: relative;
}
.document-icon {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.document {
  position: absolute;
  top: 10px;
  left: 53px;
  text-transform: uppercase;
  display: inline-block;
  width: 156px;
  height: 42px;
  z-index: 2;
}
.document-icon-parent,
.frame-inner {
  width: 262px;
  height: 58px;
  position: relative;
}
.frame-inner {
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
}
.communication {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 2;
}
.rectangle-container {
  width: 262px;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-9xs) var(--padding-3xl);
  z-index: 1;
}
.frame-container,
.frame-group,
.rectangle-container {
  display: flex;
  align-items: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  min-width: 205px;
}
.survey-icon {
  height: 235px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.survey-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
}
.survey-link {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.survey {
  position: absolute;
  top: 10px;
  left: 76px;
  text-transform: uppercase;
  display: inline-block;
  width: 109px;
  height: 42px;
  min-width: 109px;
  z-index: 2;
}
.survey-title {
  align-self: stretch;
  height: 58px;
  position: relative;
}
.frame-div,
.survey-item-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.survey-item-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 78px;
}
.frame-div {
  width: 268px;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.examination {
  position: absolute;
  top: 10px;
  left: 34px;
  text-transform: uppercase;
  display: inline-block;
  width: 194px;
  height: 42px;
  z-index: 2;
}
.rectangle-parent1 {
  width: 262px;
  height: 58px;
  position: relative;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.report {
  position: absolute;
  top: 10px;
  left: 73px;
  text-transform: uppercase;
  display: inline-block;
  width: 117px;
  height: 42px;
  z-index: 2;
}
.rectangle-parent2 {
  width: 262px;
  height: 58px;
  position: relative;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.research {
  position: absolute;
  top: 10px;
  left: 70px;
  text-transform: uppercase;
  display: inline-block;
  width: 156px;
  height: 42px;
  z-index: 2;
}
.rectangle-parent3 {
  height: 58px;
  width: 262px;
  position: relative;
}
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-45xl);
  min-width: 201px;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
.landing-page-inner,
.rectangle-group {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-group {
  width: 1036px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 55px var(--padding-28xl) var(--padding-base);
  gap: var(--gap-45xl);
}
.landing-page-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 41px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-langar);
}
.footer-child {
  height: 34px;
  width: 1512px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  max-width: 100%;
}
.copyright-2024-panimalar {
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.footer,
.landing-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--color-steelblue);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-341xl) 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-laila);
}
.landing-page {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  gap: 153px;
  background-image: url(../public/landing-page@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .panimalar-engineering-college {
    display: none;
  }
  .college-name {
    width: 328px;
  }
  .footer {
    padding-left: var(--padding-161xl);
    padding-right: var(--padding-161xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .frame-group,
  .frame-parent1 {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
  .rectangle-group {
    gap: var(--gap-13xl);
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .login {
    display: none;
  }
  .academics,
  .attendance {
    font-size: var(--font-size-5xl);
  }
  .academics-header-parent {
    flex-wrap: wrap;
  }
  .assignment,
  .communication,
  .document,
  .examination,
  .report,
  .research,
  .survey {
    font-size: var(--font-size-5xl);
  }
  .rectangle-group {
    gap: var(--gap-base);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .landing-page-inner {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-71xl);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
  .landing-page {
    gap: 76px;
  }
}
@media screen and (max-width: 450px) {
  .academics,
  .assignment,
  .attendance,
  .communication,
  .document {
    font-size: var(--font-size-lg);
  }
  .frame-group {
    gap: var(--gap-13xl);
  }
  .survey {
    font-size: var(--font-size-lg);
  }
  .survey-item-parent {
    gap: 39px;
  }
  .examination,
  .report,
  .research {
    font-size: var(--font-size-lg);
  }
  .frame-parent1 {
    gap: var(--gap-13xl);
  }
  .copyright-2024-panimalar {
    font-size: var(--font-size-base);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .landing-page {
    gap: 38px;
  }
}
